/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./assets/fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./assets/fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.hero_wrapper,
.footer_wrapper,
.main_wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    margin: 0 auto;
    /* выравнивает макет по центру */
}

/* 1. Блок Header style */
.hero {
    background-color: #02160b;
}

.hero_wrapper {
    height: 780px;
    background: url(./assets/images/img_header.jpg) no-repeat center;
}

.header_logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 60px;
    color: #F7F7F7;
    margin-left: 16px;
    margin-top: 12px;
    transition: 0.5s;
}

.header_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_logo_link {
    margin-bottom: 5px;
}

.wrapper {
    max-width: 1200px;
    margin-left: 120px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}

.header_item {
    margin: 3px 0 10px 64px;
    transition: 0.5s;
}


.item_search {
    margin-top: 5px;
}

.header_link {
    font-size: 24px;
    line-height: 60px;
    color: #F7F7F7;
    text-decoration: none;
}

.header_item:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    padding: 6px 0 5px 23px;
    margin-top: 7px;
}

.header_item:last-child:hover {
    background: #CD6326;
    border-radius: 5px;
}

.header_item:last-child:active {
    background: #8F5613;
}

.header_link_a:hover,
.header_nav_img:hover {
    color: #CD6326;
    cursor: pointer;
}

.header_link_a:active,
.header_nav_img:active {
    color: #8F5613;
}

/* 2. Блок Survival style */

.survival {
    padding-top: 52px;
}

.survival_h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    margin-top: 39px;
}

.survival_subtitle {
    width: 274px;
    height: 108px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
    margin-top: 49px;
}

.button_donate {
    padding: 16px 42px 17px 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    background: #CD6326;
    border-radius: 5px;
    margin-top: 30px;
    transition: 0.5s;
    outline: 0;
}



.button_donate:hover {
    background: #E39128;
    cursor: pointer;
}

.button_donate:active {
    background: #8F5613;
    border: 2px solid #8F5613;
}



/* 3. Блок Latest articles */

.main {
    background-color: #cccccc;
}

.main_wrapper {
    height: 1368px;
    left: 0px;
    top: 0px;
    background: #CCCCCC;
    overflow: hidden;
    /*  убирает полосу между блоками */
}

.latest_articles {
    padding-top: 80px;
}

.latest_articles_h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 5px;
}

.latest_articles_sudtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    margin-top: 20px;
}

/* SLIDER */

.slider_img {
    width: 300px;
    height: 360px;
}

.slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.slider__item {
    margin: 0 60px 0 0;
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

/* .slider_img_text {} */

.slider_img_text_heading_1,
.slider_img_text_heading_3 {
    position: absolute;
    width: 55px;
    height: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
    margin: -115px 0 0 123px;
}

.slider_img_text_heading_2 {
    position: absolute;
    width: 55px;
    height: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
    margin: -116px 0 0 111px;
}

.slider_img_text_description {
    position: absolute;
    width: 186px;
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    margin: -69px 0 0 58px;
}

.slider__control_left {
    background-image: url(./assets/icons/Vector_left.svg);
    Width: 26px;
    Height: 39px;
    margin-right: 62px;
    border: 0;
    background-color: #cccccc;
}

.slider__control_left:hover,
.slider__control_right:hover {
    cursor: pointer;
}

.slider__control_right {
    background-image: url(./assets/icons/Vector_right.svg);
    Width: 29px;
    Height: 38px;
    border: 0;
    background-color: #cccccc;
}

/* 4. Блок Get notified */
.get_notified {
    /* display: flex; */
    margin-top: 235px;
}

.get_notified_h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin-bottom: 57px;
    padding-top: 3px;
}

.get_notified_input {
    position: absolute;
    width: 522px;
    height: 58px;
    font-size: 23px;
    background: #CCCCCC;
    padding-left: 14px;
    margin-left: 389px;

}

.get_notified_button {
    position: absolute;
    width: 120px;
    height: 64px;
    background: #CD6326;
    border-radius: 0px 5px 5px 0px;
    margin-left: 930px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 0px;
    text-align: center;
    color: #F7F7F7;
    transition: 0.5s;
    outline: 0;
}

.get_notified_button:hover {
    background: #E39128;
    border: 2px solid #E39128;
    cursor: pointer;
}

.get_notified_button:active {
    background: #8F5613;
    border: 2px solid #8F5613;
}

/* 5. Блок Footer */

footer {
    background-color: #181617;
}

.footer_wrapper_back {
    height: 360px;
    border-radius: 0px;
    background: url(./assets/images/footerImg.png) no-repeat center;
}

.footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    padding-top: 128px;
}

.footer_nav {
    display: flex;
}

.footer_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_logo_img,
.header_logo_img {
    transition: 0.5s;
}

.footer_logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    color: #F7F7F7;
    margin-left: 16px;
    margin-top: 23px;
    text-transform: uppercase;
    transition: 0.5s;
}

.footer_logo_text_link,
.header_logo_text_link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    color: #F7F7F7;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
    margin-left: 74px;
    margin-top: 14px;
}

.footer_item {
    margin: 5px 23px 5px 65px;
    transition: 0.5s;
}

.footer_link {
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    text-decoration: none;

}

.footer_link:hover {
    color: #CD6326;
    cursor: pointer;
}

.footer_link:active {
    color: #8F5613;
}

.social_network {
    display: flex;
    margin: 0px 0 0 76px;
}

.footer_social_network {
    margin-left: 26px;
}

/* АНИМАЦИЯ ДЛЯ КНОПОК СОЦСЕТЕЙ */

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.footer_social_network:hover {
    animation: bounce 1s;
}

/* АНИМАЦИЯ ДЛЯ ЛОГОТИПА и кнопок слайдера */
.header_logo_img:hover,
.footer_logo_text:hover,
.header_logo_text:hover,
.slider__control:hover,
.footer_item:hover,
.header_item_a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#next,
#prev {
    outline: 0;
    border: 0;
}